

<nav  class="navbar navbar-default sidebar" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>      
    </div>
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['/kullanicilarlistesi']"  role="button">Kullanıcı Görüntüle<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-th-list"></span></a></li>
        <li><a [routerLink]="['/kullaniciekle']" role="button">Kullanıcı Ekle<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-plus"></span></a></li>        
        <li><a [routerLink]="['/kullanicisil']"  role="button">Kullanıcı Sil<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-trash"></span></a></li>
        <li><a [routerLink]="['/yoneticilerlistesi']"  role="button">Admin Görüntüle<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-th-list"></span></a></li>
        <li><a [routerLink]="['/yoneticiekle']"  role="button">Admin Ekle<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-plus"></span></a></li>
        <li><a [routerLink]="['/yoneticisil']"  role="button">Admin Sil<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-trash"></span></a></li>
        
        
        
      </ul>
    </div>
  </div>
</nav>