

<!-- Head tags to include FontAwesome -->
<head>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>

<div class="container">
  <div class="row">
    <div class='col-md-offset-2 col-md-8 text-center'>
    <img src="../../../../public/images/mean.png" alt="Smiley face" height="252" width="552">
    </div>
  </div>
  <div class='row'>
    <div class='col-md-offset-2 col-md-8'>
      <div class="carousel slide" data-ride="carousel" id="quote-carousel">
        <!-- Bottom Carousel Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#quote-carousel" data-slide-to="1"></li>
          <li data-target="#quote-carousel" data-slide-to="2"></li>
          <li data-target="#quote-carousel" data-slide-to="3"></li>
        </ol>
        
        <!-- Carousel Slides / Quotes -->
        <div class="carousel-inner">
        
          <!-- Quote 1 -->
          <div class="item active">
            <blockquote>
              <div class="row">
                <div class="col-sm-3 text-center">
                  <img class="img-circle" src="../../../../public/images/mongo.jpg" style="width: 100px;height:100px;">
                  <!--<img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" style="width: 100px;height:100px;">-->
                </div>
                <div class="col-sm-9">
                  <p>MongoDB bize kendisini, geliştirme ve ölçekleme kolaylığı için tasarlanmış açık kaynak, belge yönelimli(document-oriented) veritabanı olarak 
                    tanıtmaktadır. MongoDB’de her kayıt, aslında bir dökümandır. Dökümanlar MongoDB’de JSON benzeri Binary JSON(BSN) formatında saklanır. BSON belgeleri,
                     sakladıkları elemanların sıralı bir listesini içerir nesnelerdir. Her bir eleman, bir alan adı ve belirli tipte bir değerden oluşur.</p>
                  <small>MongoDB Nedir?</small>
                </div>
              </div>
            </blockquote>
          </div>
          <!-- Quote 2 -->
          <div class="item">
            <blockquote>
              <div class="row">
                <div class="col-sm-3 text-center">
                  <img class="img-circle" src="../../../../public/images/express.png" style="width: 100px;height:120px;">
                </div>
                <div class="col-sm-9">
                  <p>Express modül Node.js için yazılmış bir templete çatısıdır. Yapısı ve kullanışlı methotları gereği Get,Delete,Post,Routing ve daha bir çok işlevi oldukça kolaylaştırmaktadır.</p>
                  <small>Express.js Nedir?</small>
                </div>
              </div>
            </blockquote>
          </div>
          <!-- Quote 3 -->
          <div class="item">
            <blockquote>
              <div class="row">
                <div class="col-sm-3 text-center">
                  <img class="img-circle" src="../../../../public/images/angular.png" style="width: 100px;height:100px;">
                </div>
                <div class="col-sm-9">
                  <p>AngularJS, google’nin desteklediği, javascript MVC kütüphanesidir. MVC (Modal View Controller) verinin, görünümün ve kontrollerin ayrı tutulmasına dayanır. </p>
                  <small>Angular Nedir?</small>
                </div>
              </div>
            </blockquote>
          </div>
          <div class="item">
              <blockquote>
                <div class="row">
                  <div class="col-sm-3 text-center">
                    <img class="img-circle" src="../../../../public/images/nodejs.png" style="width: 100px;height:100px;">
                  </div>
                  <div class="col-sm-9">
                    <p>Node.js, açık kaynaklı, sunucu tarafında çalışan ve ağ bağlantılı uygulamalar için geliştirilmiş bir çalıştırma ortamıdır. Node.js uygulamaları genelde istemci tarafı betik dili olan JavaScript kullanılarak geliştirilir</p>
                    <small>Node.js Nedir?</small>
                  </div>
                </div>
              </blockquote>
            </div>
        </div>
        
        <!-- Carousel Buttons Next/Prev -->
        <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
        <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
      </div>                          
    </div>
  </div>
</div>