 <div class="container">
           
            <a href="/kullanicilarlistesi" class="btn btn-info" role="button">Kullanıcı Görüntüle</a>
            <a href="/kullaniciekle" class="btn btn-info" role="button">Kullanıcı Ekle</a>
            <a href="/kullanicisil" class="btn btn-info" role="button">Kullanıcı Sil</a>
            <a href="/yoneticiekle" class="btn btn-info" role="button">Admin Ekle</a>
            <a href="/yoneticisil" class="btn btn-info" role="button">Admin Sil</a>
            <a href="/yoneticilerlistesi" class="btn btn-info" role="button">Admin Görüntüle</a>
           
           
 </div>